.shadow-token--wrapper {
  display: flex;

  & > div {
    justify-content: space-between;
    flex: 1;
    max-width: 80%;
  }
}

.shadow-token {
  background-color: white;
  border-radius: $border-radius;
  padding: 25px;
  height: 170px;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shadow-01 {
  box-shadow: $shadow-01;
}

.shadow-02 {
  box-shadow: $shadow-02;
}

.shadow-03 {
  box-shadow: $shadow-03;
}
